spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: KNUHackathon123!@
    url: jdbc:mysql://localhost:3306/knu?allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
server:
  port: 80
